* {
  margin: 0;
  padding: 0;
}

body {
	overscroll-behavior-y: none;  
}

a:not(:hover) {
  text-decoration: none;
}

p,
a,
li {
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 1.33333333;
  }
}

ul {
  list-style: inside;
  @media (min-width: 768px) {
    list-style-image: url('./images/star.svg');
  }
}

h2 {
  font-size: 24px;
  line-height: 1.5;
  font-style: italic;
  font-weight: 400;
  text-decoration: underline;
  text-transform: uppercase;
  transform-origin: left;
  @media (min-width: 768px) {
    font-size: 32px;
    line-height: 1.25;
  }
}

.content {
  background: url('../public/images/metal.webp');
  background-attachment: fixed;
  background-size: 400px;
  font-family: 'Times New Roman', serif;
  padding: 16px;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100dvh;

  @media (min-width: 768px) {
    height: 100dvh;
    padding: 32px;
    gap: 32px;
  }
}

.pill {
  border-radius: 40px;
  padding: 16px 32px;
  box-shadow: 0 0 24px #00000088, 0 0 24px #00000033 inset;
  background: linear-gradient(#ffffff, #acacac);
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
  font-size: 24px;
    
  @media (min-width: 768px) {
    font-size: 32px;
    line-height: 1.25;
  }
}