* {
  margin: 0;
  padding: 0;
}

.content {
  background: url('./images/metal.png');
  background-size: 500px;
  font-family: "EB Garamond", serif;
  padding: 32px;
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100dvh;
  box-sizing: border-box;
}

.pill {
  border-radius: 32px;
  padding: 16px 32px;
  box-shadow: 0 0 24px #00000033, 0 0 24px #00000033 inset;
  background: linear-gradient(#ffffff, #acacac);
  color: #ffffff;
  text-shadow: 2px 2px #686868;
  font-size: 32px;
  line-height: 1;
}